<div class="container" id="education">
  <h1>Education</h1>

<!-- Math Typeset Formatting -->
<!--   <p [appMath]>
    $$\sum_{n=0}^\infty \frac{f^{(n)}(a)(x-a)^n}{n!}$$
  </p>

  <p [appMath]> 
    $$\int_a^b f(x)= F(b)-F(a)$$
  </p>

  <div [appMath]>
      $$E = mc^2$$
  </div> -->
  <div class="panel panel-default">
    <div class="panel-body">A Basic Panel</div>
  </div>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">A Basic Panel</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Highland High School</h2>
        <p>Degree: High School Diploma</p>
      </div>
    </div>
    <div class="panel">
      <h2>Youngstown State University</h2>
      
    </div>
    <div class="panel">
      <h2>Ohio State University</h2>

    </div>
  </div>
  
</div>