.title {
  text-align: center;
  width: 100%;
}

.jumbotron {
  margin-bottom: 1rem;
}

.displayed-pic {
  max-width: 350px;
}

.col {
  text-align: center;
}

.side-panel {
  margin-top: auto;
  margin-bottom: auto;
}

p {
  -webkit-text-stroke-width: thin;
}
