<div class="container">
    <h1>Professional Projects</h1>
    <embed src="assets/TeXpdfs/MultivariableNotes.pdf#toolbar=0" type="application/pdf"   height="350px" width="50%">
    <embed src="assets/TeXpdfs/LinearAlgebraNotes.pdf#toolbar=0" type="application/pdf"   height="350px" width="50%">
    <embed src="assets/TeXpdfs/MultivariableCalculus-Ch14.pdf#toolbar=0" type="application/pdf"   height="350px" width="50%">
    <embed src="assets/TeXpdfs/Algebra-1-Systems.pdf#toolbar=0" type="application/pdf"   height="350px" width="50%">
    <embed src="assets/TeXpdfs/Algebra-2-Quadratics.pdf#toolbar=0" type="application/pdf"   height="350px" width="50%">
</div>