<div class="container" id="coding">
    <h1>Coding Projects</h1>
    <div class="row">
        <div class="col-md-6">
            <a href="https://github.com/smudgegame/Baby-Sitter-Kata" target="_blank">
                <div class="project">
                    <div class="row">
                        <div class="col title">
                            <h2>Babysitter Kata</h2>
                        </div>
                        <div class="col language">
                            <h4>Java</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="description">
                            This project is based on a Kata exercise intended to help
                            practice TDD. Here I found that it was
                            most difficult to know what tests should be written. I also used
                            this Kata to practice Git and GitHub by frequently making commits
                            and navigating the CLI.
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="https://github.com/smudgegame/Better-Vending-Machine" target="_blank">
                <div class="project">
                    <div class="row">
                        <div class="col title">
                            <h2>Vending Machine Kata</h2>
                        </div>
                        <div class="col language">
                            <h4>Java</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="description">
                            Like the Babysitter Kata this is a more challenging prompt
                            where I learned best practices for classes and how to solve
                            more complex problems like setting two HashMaps equal and clearing the original.
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="https://github.com/smudgegame/petstore" target="_blank">
                <div class="project">
                    <div class="row">
                        <div class="col title">
                            <h2>Petstore App</h2>
                        </div>
                        <div class="col language">
                            <h4>Java, Kotlin, SQL</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="description">
                            This is a project where I learned how to use Spring Boot, Docker,
                            and postgresSQL to connect my app to a Database using Object-Relational
                            Mappings.
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="https://github.com/smudgegame/amwebsite" target="_blank">
                <div class="project">
                    <div class="row">
                        <div class="col title">
                            <h2>Personal Website</h2>
                        </div>
                        <div class="col language">
                            <h4>HTML, CSS, JavaScript</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="description">
                            This website. My main objective was
                            to use this project as a platform and motivation for learning JavaScript,
                            Angular, and AWS all while making something lasting to represent
                            myself professionally.
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="https://github.com/smudgegame/amresume" target="_blank">
                <div class="project">
                    <div class="row">
                        <div class="col title">
                            <h2>Resum&eacute;</h2>
                        </div>
                        <div class="col language">
                            <h4 [appMath]> $\LaTeX$ </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="description">
                            I could have used MSword to make this resum&eacute; but I wanted to
                            use what I have learned making materials as a math teacher. I adapted
                            a premade resum&eacute; class to fit my desired style.
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <h1>Professional Projects</h1>
    <div id="carouselControls" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <embed class="d-block w-100" src="assets/TeXpdfs/MultivariableNotes.pdf#toolbar=0"
                    type="application/pdf" height="900px" width="50%">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Calculus Class Notes</h5>
                    <p [appMath] class="caption">These notes pair with Howard Anton's Multivariable Calculus Text.
                        I created these notes from scratch using $\LaTeX$.
                        I greatly enjoyed putting these together.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <embed class="d-block w-100" src="assets/TeXpdfs/LinearAlgebraNotes.pdf#toolbar=0"
                    type="application/pdf" height="900px" width="50%">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Linear Algebra Class Notes</h5>
                    <p [appMath] class="caption">These notes pair with David Lay's Multivariable Calculus Text.
                        Together these courses have given me a wonderful appreciation and foundation of optimization
                        and organization.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <embed class="d-block w-100" src="assets/TeXpdfs/MultivariableCalculus-Ch14.pdf#toolbar=0"
                    type="application/pdf" height="900px" width="50%">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Calculus Chapter 14 Test</h5>
                    <p [appMath] class="caption"> This calculus test I am particularly proud of because of the difficult
                        graphed regions. Each graph was either drawn using the tikz package or pgfPlots package.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <embed class="d-block w-100" src="assets/TeXpdfs/Algebra-1-Systems.pdf#toolbar=0" type="application/pdf"
                    height="900px" width="500px">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Systems: Algebra Notes</h5>
                    <p [appMath] class="caption"> These notes caused me to shift focus. I spent more of my time churning
                        out quantity of practice for students instead of quantity of new content. The students needed
                        more practice.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <embed class="d-block w-100" src="assets/TeXpdfs/Algebra-2-Quadratics.pdf#toolbar=0"
                    type="application/pdf" height="900px" width="50%">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Quadratics: Algebra Notes</h5>
                    <p [appMath] class="caption"> These notes provided a technical challenge for my $\LaTeX$ skills. I
                        needed to
                        make precise tables with content that compactly communicated the point to my students.
                        Page 21 has a cute little program I taught my students.
                    </p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>