<div class="container" id="education">
  <h1 class="myHeader">Education</h1>

  <!-- Math Typeset Formatting -->
  <!--   <p [appMath]>
    $$\sum_{n=0}^\infty \frac{f^{(n)}(a)(x-a)^n}{n!}$$
  </p>

  <p [appMath]> 
    $$\int_a^b f(x)= F(b)-F(a)$$
  </p>

  <div [appMath]>
      $$E = mc^2$$
  </div> -->

  <div class="container">
    <div class="media">
      <div class="media-left">
        <img src="/assets/icons/highlandIcon.jpg" class="media-object" style="width:60px">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Highland High School</h4>
        <p>Degree: High School Honors Diploma </p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <img src="/assets/icons/ysuIcon.png" class="media-object" style="width:60px">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Youngstown State University</h4>
        <p>Degree: Bachelor's of Science in Education</p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <img src="/assets/icons/osuIcon.png" class="media-object" style="width:60px">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Ohio State University</h4>
        <p>Degree: Master's of Science in Mathematics</p>
      </div>
    </div>
  </div>

</div>