<div class="container">
    <h1>Personal</h1>
    <p>
        I am a native Ohioian. I met my wife Jennifer (Klugh) Margraff in high school and we were married in 2014.
        We both come from large families. We had our first child, Granger, in 2018 and our second, Joanna, in 2019.   
    </p>

    <img class="quad-pic" src="assets/photos/Aaron-and-Jenn.jpg" alt="Aaron and Jenn" >
    <img class="quad-pic" src="assets/photos/FamilyVA.jpg" alt="Family in Virginia" >
    <img class="quad-pic" src="assets/photos/Granger.jpg" alt="Granger" >
    <img class="quad-pic" src="assets/photos/Joanna.jpg" alt="Joanna" >

</div>
