.section{
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: #e9ecef;
  border: 1px solid #e0e3e6;
  text-align: center;
  margin-top: 1rem;
}

.section:hover{
  background-color: #dbe0e6;
}

.label{
text-align: center;
}

a {
  text-decoration: none;
  color: black;
}