
<div class="wrapper">
    <div class="section"><div class="icon"><img src="assets/icons/person.png"></div><div class="label">Personal </div></div>
    <div class="section"><div class="icon"><img src="assets/icons/education.png"></div><div class="label">Education </div></div>
    <a href="assets/Resume.pdf" target="_blank"><div class="section"><div class="icon"><img width="100px;" src="assets/Resume.PNG"></div><div class="label">Resume </div></div></a>
    <div class="section"><div class="icon"><img src="assets/icons/keyboard.png"></div><div class="label">Coding </div></div>
    <div class="section" (click)="scrollViewTo('artwork')" ><div class="icon"><img src="assets/icons/art.png"></div><div class="label">Artwork </div></div>
</div>