<div class="container" id="artwork">
    <h1>Artwork</h1>
    <div class="row">
        <div class="col col-sm">
            <img class="pixel-art" src="assets/artwork/gifs/Desert.gif">
        </div>
        <div class="col col-sm">
            <img class="pixel-art" src="assets/artwork/gifs/Small Rocket Engine.gif">
        </div>
    </div>
    <div class="row">
        <div class="col col-sm">
            <img class="pixel-art" src="assets/artwork/gifs/CharWalk.gif">
        </div>
        <div class="col col-sm">
            <img class="pixel-art" src="assets/artwork/gifs/Pig_Run.gif">
        </div>
    </div>
    <div class="row">
        <div class="col col-sm">
            <img class="pixel-art" src="assets/artwork/gifs/Miniship.gif">
        </div>
        <div class="col col-sm">
            <img class="pixel-art" src="assets/artwork/gifs/Fire Sprites.gif">
        </div>
    </div>
    <div class="row">
        <div class="col col-sm">
            <img class="pixel-art" src="assets/artwork/images/Pascal.JPG">
        </div>
        <div class="col col-sm">
            <img class="pixel-art" src="assets/artwork/images/StatueOfLiberty.JPG">
        </div>
    </div>
    <div class="row">
        <div class="col col-sm">
            <img class="pixel-art" src="assets/artwork/images/LostInSpace.JPG">
        </div>
        <div class="col col-sm">
            <img class="pixel-art" src="assets/artwork/images/iPad Pics keyhole.jpg">
        </div>
    </div>
</div>