.title {
  text-align: center;
}

.picture-frame {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.pixel-art {
  height: 500px;
}

.displayed-pic {
  height: 700px;
}

.side-pic {
  width: 500px;
}