.title {
  text-align: center;
  width: 100%;
}

.picture-frame {
  display: inline-block;
  text-align: center;
  margin: auto;
}

.pixel-art {
  height: 500px;
}

.displayed-pic {
  max-width: 350px;
}

.side-pic {
  max-width: 300px;
}
