<div class="container">
  <div class="row">
    <div class="jumbotron jumbotron-fluid title"> 
      <h1>Aaron Margraff</h1>
    </div>
  </div>

  <div class="row">
    <div class="col picture-frame">
        <img class="side-pic" src="assets/FamilyVA.jpg">
    </div>    
    <div class="col picture-frame">
        <img class="displayed-pic" src="assets/personalPic.jpg">
    </div>
    <div class="col picture-frame">
        <img class="side-pic" src="assets/FamilyOH.jpg">
    </div>
  </div>
</div>