<div class="container">
  <div class="row">
    <div class="jumbotron jumbotron-fluid title">
      <h1>Aaron Margraff</h1>
    </div>
  </div>

  <div class="row">
    <div class="col side-panel">
      <p>Passionate</p>
      <p>Dedicated</p>
      <p>Patient</p>
      <p>Hard-Working</p>
    </div>
    <div class="col">
      <img class="displayed-pic" src="assets/photos/Aaron.jpg">
    </div>
    <div class="col side-panel">
      <p>Husband</p>
      <p>Father</p>
      <p>Mathematician</p>
      <p>Teacher</p>
      <p>Artist</p>
    </div>
  </div>

</div>